# Your wallet's private key (DO NOT COMMIT once filled)
PRIVATE_KEY=PRIVATE_KEY=c1cdadcbb3245ac555b6e94db6c95c532375ab5be755248c860b5aa331519374

# Optional: PolygonScan API key (for contract verification)
POLYGONSCAN_API_KEY=

# Optional: Chain ID for Polygon
CHAIN_ID=137
